body {
    margin: 0;
    background-color: rgb(70, 70, 70);
    color: rgb(230, 230, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

#container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "side"
        "section1"
        "section2"
        "footer";
    position: relative;
}

header {
    grid-area: header;
    background-color: #111;
    text-align: center;
    margin: 0em;
    padding: 0em;
}

h1 {
    text-align: center;
    color: white;
    padding: 0em;
    margin: 1em;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111
}

header li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

header li:hover {
    background-color: rgb(70, 70, 70);
}

ul {
    margin: 0em;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

li {
    margin: 0em;
    padding: 0em;
}

h2 {
    text-align: center;
    padding: .5em;
    font-size: xx-large;
}

h3 {
    font-size: large;
    padding: 0em;
}

div.contact {
    display: flex;
    justify-content: center;
}

div.contact p {
    padding: 1em;
    margin: 1em;
    border: 1em solid;
    border-radius: 10%;
}

img {
    max-width: 100% ;
    float: left;
    background-color: white;
}

div.exp {
    grid-area: section1;
    margin: 0;
    background-color: rgb(70, 70, 70);
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0em;
}

div.edu {
    grid-area: section2;
    margin: 0;
    background-color: rgb(70, 70, 70);
    padding-left: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
}

aside {
    grid-area: side;
    padding: 0em;
    margin: 0em;
    background-color: #111;
    text-align: center;
    display: flex;
    flex-direction: column;
}

aside a {
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    text-decoration: none;
    font-size: x-large;
}

aside a:hover {
    background-color: rgb(70, 70, 70);
}

aside a:active {
    background-color: rgb(100, 100, 100);
}

div.sum {
    grid-area: footer;
    background-color: #111;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: 0em;
    text-align: justify;
}

span.date {
    float: none;
    display: block;
    font-size: small;
}

@media screen and (min-width: 750px) {
    #container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 20% auto;
        grid-template-areas:
            "header header"
            "side section1"
            "side section2"
            "footer footer";
        position: relative;
    }
    div.sum {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media screen and (min-width: 1150px) {
    span.date {
        font-size: large;
        float: right;
    }
}